extends layout

block content
  .jumbotron
    .container
      h1 How may I help you?
      p I can help you in differnet ways, if you discuss your problem with me.
      a.btn.btn-primary.btn-lg(href="#") Learn More &raquo;
  .container
    .row
      .col-md-4
        h2 About Us
        p We are the Developers. You can develop your websites from us.
        a.btn.btn-default(href="#") View Details
      .col-md-4
        h2 Services
        p Take a look on our services that we provide.
        a.btn.btn-default(href="#") View Details
      .col-md-4
        h2 Get in touch
        p If you want any of the services, contact with us.
        a.btn.btn-default(href="#") View Details